/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    background-image: url(wallpaper3.jpg);
    opacity: 0.9;
    animation: fadein 2s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#createButton {
    padding: 10px;
    background-color: #e58725;
    opacity: 0.9;
    text-decoration: none;
    border-radius: 15px;
    color: navy;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html{
    position: relative;
    min-height: 100%;

}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.summary {
    max-width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

h1{
    text-align: center;
}

.nav-link:hover {
    text-decoration: underline;
}

th {
    font-size: x-large;

}

table {
    border: 2px solid grey;
    border-radius: 15px;
    border-collapse: separate;
    overflow:hidden;

}
tr {
    border: 2px solid grey;
    background-color: white;
    overflow: hidden;
}
